/*navmenu导航*/
.sys-navmenu-cls .el-submenu .el-menu-item{
    height: 42px;
    line-height: 42px;
    min-width: 176px;
    background-color: #2a4b99 !important;
    border-bottom: 1px solid #0f2f7a;
}
.sys-navmenu-cls .el-menu-item, .el-submenu__title{
    height: 42px;
    line-height: 42px;
}
/*tab选项卡*/
.el-tabs--border-card{
    box-sizing: border-box;
}
.main-content > div{
    height: 100%;
}
.el-tabs__header{
    height: 22px !important;
}
.el-tabs--card>.el-tabs__header{
    border-bottom: 1px solid #f2f4f8;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
    border: 0px !important;
    border-bottom: 4px !important;
    
}
.el-tabs--card>.el-tabs__header .el-tabs__item{
    height: 22px !important;
    font-size: 12px;
    color: #fff;
    border-bottom: 0px;
    background-color: #109afc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
    background-color: #0f2f7a;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active.is-closable{
    background-color: #0f2f7a;
}
.el-tabs__item{
    line-height: 22px !important;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
    height: 22px !important;
}
.el-tabs__content{
    margin-top: 1px;
}